{% extends 'base.html.twig' %}

{% block title %}New Feature{% endblock %}

{% block body %}
    <h1>Create new Feature</h1>

    {{ include('feature/_form.html.twig') }}

    <a href="{{ path('feature_index') }}">back to list</a>
{% endblock %}
